.cell {
  width: $cell-width;
  height: $cell-heigh;

  position: relative;


  border: 1px solid gray;

  &--today {
    background-color: #eee;
  }

  &__number {
    position: absolute;
    left: 4px;
    top: 4px;

    font-size: 14px;
    font-weight: 700;
  }

  &__day-name {
    position: absolute;
    right: 4px;
    top: 4px;

    font-size: 14px;
    font-weight: 700;
  }

  &__events {
    padding: 5px 26px;
  }

  &__event {
    margin-bottom: 4px;
    background-color: #ccc;

    cursor: pointer;

    &:hover {
      background-color: #bbb;
    }
  }
}