.table {
  width: #{$calendar-width};
  
  &__body {
    display: flex;
    flex-wrap: wrap;

    $days:
    "1" 0,
    "2" #{$cell-width},
    "3" #{$cell-width * 2},
    "4" #{$cell-width * 3},
    "5" #{$cell-width * 4},
    "6" #{$cell-width * 5},
    "0" #{$cell-width * 6};
    
    @each $day, $start in $days {
      &--start-day-#{$day} > .table__cell:first-child {
        margin-left: #{$start};
      }
    }
  }

  &__head {
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__day {
    font-weight: 700;
  }
}