.table {
  border-collapse: collapse;
  border-spacing: 0;

  display: flex;
  flex-wrap: wrap;
  width: #{$calendar-width};

  $days:
  "1" 0,
  "2" #{$cell-width},
  "3" #{$cell-width * 2},
  "4" #{$cell-width * 3},
  "5" #{$cell-width * 4},
  "6" #{$cell-width * 5},
  "0" #{$cell-width * 6};

@each $day, $start in $days {
  &--start-day-#{$day} > &__cell:first-child {
    margin-left: #{$start};
  }
}
}